html {
    background: lightgrey;
}

.factorio__container {
    height: 500px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 180px auto;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
}

.navbar__inner-container {
    border: 2px solid black;
}

.navbar__actions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar__actions>button {
    margin: 2px 0;
}

.navbar__preview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__items {
    padding: 2px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-auto-flow: row dense;
    overflow-y: scroll;
    overflow-x: hidden;
}

.factorio__grid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.factorio__blueprint-modal {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: none;
    height: 300px;
    width: 400px;
    border: 2px solid black;
    z-index: 9999;
    opacity: 1;
    text-align: center;
    background: black;
}

.factorio__blueprint-modal textarea {
    width: 98%;
    height: 90%;
}

.item {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 2px;
}

.item:hover {
    border: 1px solid red;
}

.item__image {
    width: 100%;
    height: 100%;
}

.activeitem {
    border: 1px solid yellow;
    box-shadow: 0px 0px 15px yellow;
    -webkit-box-shadow: 0px 0px 15px yellow;
    -moz-box-shadow: 0px 0px 15px yellow;
}

.row {
    /*display: inline-block;*/
    clear: both;
    float: left;
    width: 1400px;
}

.tile {
    float: left;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    user-select: none;
}

.tile:hover {
    border: 1px solid yellow;
}

.tile>div {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 9998;
}

.tile>div:hover {
    border: 1px solid yellow;
}


.tile img {
    pointer-events: none;
}


.pixelated-image {
    image-rendering: pixelated;
}

.rotation2 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background-color: #000000;
}