html {
    background: lightgrey;
}

.factorio__container {
    height: 800px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 180px auto;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
}

@media only screen and (max-width: 768px) {
    .factorio__container {
        height: 800px;
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: 100px 180px auto;
        grid-column-gap: 5px;
        grid-row-gap: 2px;
    }
}

.navbar__inner-container {
    border: 2px solid black;
}

.navbar__actions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 425px) {
    .navbar__actions {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.navbar__actions>button {
    margin: 2px 0;
}

.navbar__preview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 425px) {
    .navbar__preview {
        display: none;
        justify-content: center;
        align-items: center;
    }
}

.preview__image-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.preview__image {
    vertical-align: middle;
}

.navbar__items {
    padding: 2px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-auto-flow: row dense;
    overflow-y: scroll;
    overflow-x: hidden;
}


@media only screen and (max-width: 768px) {
    .navbar__items {
        padding: 2px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        grid-auto-flow: row dense;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 425px) {
    .navbar__items {
        padding: 2px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        grid-auto-flow: row dense;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.factorio__grid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow-y: auto;
    overflow-x: auto;
}

@media only screen and (max-width: 425px) {
    .factorio__grid {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        overflow-y: auto;
        overflow-x: auto;
    }
}

.factorio__blueprint-modal {
    grid-column-start: 0;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 4;
    display: none;
    height: 300px;
    width: 400px;
    border: 2px solid black;
    z-index: 9999;
    opacity: 1;
    text-align: center;
    background: black;
}

@media only screen and (max-width: 425px) {
    .factorio__blueprint-modal {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        display: none;
        height: 300px;
        width: 400px;
        border: 2px solid black;
        z-index: 9999;
        opacity: 1;
        text-align: center;
        background: black;
    }
}

.factorio__blueprint-modal textarea {
    width: 98%;
    height: 90%;
}

.item {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 2px;
    justify-self: center;
}

.item:hover {
    border: 1px solid red;
}

.item__image {
    width: 100%;
}

.activeitem {
    border: 1px solid yellow;
    box-shadow: 0px 0px 15px yellow;
    -webkit-box-shadow: 0px 0px 15px yellow;
    -moz-box-shadow: 0px 0px 15px yellow;
}

.row {
    /*display: inline-block;*/
    clear: both;
    float: left;
    width: 1100px;
}

.tile {
    float: left;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    user-select: none;
}

.tile:hover {
    border: 1px solid yellow;
}

.tile>div {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 9998;
}

.tile>div:hover {
    border: 1px solid yellow;
}

.tile img {
    pointer-events: none;
}

.pixelated-image {
    image-rendering: pixelated;
}

.rotation2 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
}